<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Annotation Helper</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
            <li>
                <button type="button" id="dragBtn" class="btn btn-outline-success"
                    title="Select Tool: Use it to select lines and move them">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrows-move" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z" />
                    </svg>
                    <span class="visually-hidden">Button</span>
                </button>
            </li>
            
            </br>
            ...
            </br>
            <li class="nav-item">
                <button type="button" id="pntBtn" class="btn btn-outline-success"
                    title="Line Tool: Click twice on the canvas to create a line">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil" viewBox="0 0 16 16">
                        <path
                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    <span class="visually-hidden">Button</span>
                </button>
            </li>

            <li>
                <button type="button" id="arrowBtn" class="btn btn-outline-success"
                    title="Arrow Tool: Click 2 times to draw an Arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>
                    <span class="visually-hidden">Button</span>
                </button>

            </li>

        </ul>
    </div>
    <div class="sidebar-right">
        <div class="row">
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading"> {{ data['filename'] }} </h4>
                <hr>
                <div class="videoDetails">
                    <p>Current Frame: {{ data['frame_no'] }} </p>
                    <p>Total Frames: {{ data['num_frames'] }}</p>
                    <p>Image Width: {{ data['original_image_width'] }}</p>
                    <p>Image Height: {{ data['original_image_height'] }}</p>
                </div>
                <hr>
            </div>
            <div class="d-grid col-12 mx-auto">
                <div id="lineList">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading"> Properties </h4>

                <div class="d-grid col-12 mx-auto">
                    <div id="propList">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="d-grid col-12 mx-auto">
                <button type="button" id="saveBtn" class="btn btn-success">Save Annotations</button>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading"> Saved Coordinates </h4>

                <div class="d-grid col-12 mx-auto">
                    <pre id="savedLines">

                    </pre>
                </div>

            </div>
        </div>

        <!-- <div class="row">
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading"> Details </h4>

                <div class="d-grid col-12 mx-auto">
                    <pre id="lineDetails">

                    </pre>
                </div>

            </div>
        </div> -->

    </div>
    <div class="container-fluid" id="main-container">
        {% if not data %}
        <script>alert('Upload a video first to get started');</script>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <label><strong>Upload Video</strong></label>
                        <div class="custom-file">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="file" name="file" multiple class="custom-file-input form-control"
                                            id="customFile">
                                        <button type="submit" name="upload" value="upload" id="upload"
                                            class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if data %}
            <div class="col-md-3">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <label><strong>Go To Frame</strong></label>
                        <div class="custom-file">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" name="frameNo"
                                            value="{{ data['frame_no'] }}" placeholder="Frame No." min="1"
                                            max="{{ data['num_frames'] }}" id="frameInput">
                                        <button class="btn btn-success" name="frameNoSubmit" type="submit">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="col-md-3">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <label><strong>Go To Frame</strong></label>
                        <div class="custom-file">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" name="frameNo"
                                            value="{{ data['frame_no'] }}" placeholder="Frame No." min="1"
                                            max="{{ data['num_frames'] }}" id="frameInput" disabled>
                                        <button class="btn btn-success" name="frameNoSubmit" type="submit"
                                            disabled>Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

        </div>
        {% if data %}
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <label><strong>Resize Frame</strong></label>
                        <div class="custom-file">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <!--                                    <input type="number" class="form-control" name="heightInput" value=" {{ data['image_height'] }} " placeholder="Width" min="640" id="heightInput">-->
                                        <input type="number" class="form-control" name="widthInput"
                                            value="{{ data['ratio'] }}" step="0.01" placeholder="Ratio 0-2" min="0.0"
                                            max="2.0" id="widthInput">
                                        <button class="btn btn-success" name="sizeSubmit" type="submit">Resize</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <label><strong>Name for Lines</strong></label>
                    <div class="custom-file">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="ArrowLineNameInput" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <label for="showLine" class="form-label">Selected Line Coordinates</label>
                    <div class="input-group mb-3 input-group-default">
                        <span class="input-group-text" id="lineName"></span>
                        <input id="showLine" type="text" class="form-control" aria-describedby="basic-addon3" disabled>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <label><strong>Resize Frame</strong></label>
                        <div class="custom-file">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <!--                                    <input type="number" class="form-control" name="heightInput" value=" {{ data['image_height'] }} " placeholder="Width" min="640" id="heightInput">-->
                                        <input type="number" class="form-control" name="widthInput"
                                            value="{{ data['ratio'] }}" step="0.01" placeholder="Ratio 0-2" min="0.0"
                                            max="2.0" id="widthInput" disabled>
                                        <button class="btn btn-success" name="sizeSubmit" type="submit"
                                            disabled>Resize</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <label><strong>Name for Lines</strong></label>
                    <div class="custom-file">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="ArrowLineNameInput" value="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <label for="showLine" class="form-label">Selected Line Coordinates</label>
                    <div class="input-group mb-3 input-group-default">
                        <span class="input-group-text" id="lineName"></span>
                        <input id="showLine" type="text" class="form-control" aria-describedby="basic-addon3" disabled>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <canvas id="mainView"></canvas>
            </div>

        </div>
        <div class="row" id="control">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        {% if data and data['frame_no'] > 1 %}
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" class="form-control" value="{{ data['frame_no']-1 }}" id="prevBtn"
                                name="prevFrame">
                            <button type="submit" class="btn btn-danger" name="prevFramebtn"
                                style="width:100%">Previous</button>
                        </form>
                        {% else %}
                        <div class="col">
                            <button type="submit" class="btn btn-secondary" name="prevFramebtn" style="width:100%"
                                disabled>Previous</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3 offset-md-3 justify-content-end ">
                        {% if data and data['frame_no'] < data['num_frames'] %} <form method="post">
                            <div class="col">
                                <input type="hidden" class="form-control" value="{{ data['frame_no']+1 }}" id="nextBtn"
                                    name="nextFrame">
                                <button type="submit" class="btn btn-success" name="nextFramebtn"
                                    style="width:100%">Next</button>
                            </div>
                            </form>
                            {% else %}
                            <div class="col">
                                <button type="submit" class="btn btn-secondary" name="nextFramebtn" style="width:100%"
                                    disabled>Next</button>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if data %}
    <script>
        var mysrc = "{{ data['image_path'] }}";
        var scale = "{{ 1.0 / data['ratio'] }}";
    </script>
    {% endif %}
    <script src="{{url_for('static', filename='scripts/fabric/fabric.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/control.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/arrow.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/actions.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/engine.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/bootstrap/bootstrap.js')}}"></script>
</body>

</html>