<html>
<head>
    <title> Simple web app to draw </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<center>
<h3> This is the page for drawing lines </h3>
<button id="dragBtn" >Drag</button>
<button id="pntBtn">Point</button>

<canvas id="canvas" width="1366" height="768" style="border: 1px solid black;">

</canvas>
</center>


<script src="{{url_for('static', filename='scripts/line.js')}}"></script>
<!-- <script src="{{url_for('static', filename='scripts/actions.js')}}"></script> -->
</body>


</html>