<!--
<!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
        <label for="formFileLg" class="form-label">Large file input example</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" />
    </form>
-->
<html>
<head>
    <title> Simple web app to draw </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">

</head>

<body>
    <div class="container mt-5">
      <h1 class="text-center">Upload your video</h1>
      <div class=".col-md-4 .offset-md-4 border p-4">
          <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                      <label><strong>Upload Files</strong></label>
                      <div class="custom-file">
                        <input type="file" name="file" multiple class="custom-file-input form-control" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                </div>
                <div class="form-group">
                    <button type="submit" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload</button>
                </div>
          </form>

      </div>

        <div class="row">
            </br>
              <p> Previous datasets will be shown here</p>
        </div>
    </div>
<script src="{{url_for('static', filename='scripts/bootstrap/bootstrap.js')}}"></script>
</body>
</html>
